<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>境外输入条形图展示</title>
        <script type="text/javascript" src="echarts/echarts.min.js"></script>
        <script type="text/javascript" src="js/jquery-3.5.1.js"></script>
    </head>
    <body>
        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
        <div id="graphBar" style="width: 600px;height:400px;"></div>
        <script th:inline="javascript">
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('graphBar'));
            var nameList = [[${nameList}]];
            var confirmList = [[${confirmList}]];
            // 指定图表的配置项和数据
            var option = {
                title: {
                    text: '境外输入省市TOP10'
                },
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    data: nameList
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    name:'境外输入',
                    type: 'bar',
                    data: confirmList,
                    barWidth: '60%',
                    color: '#ff8619'
                }]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);
        </script>

    </body>
</html>